@use "../../sass/themes.scss" as t;
.dropdown {
  .dropdown-menu {
    margin-top: 5px;
    height: 200px;
    overflow-y: hidden;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }
  }
  .dropdown-menu,
  .dropdown-content {
    background-color: var(--inputs-bg);
    border-radius: 5px;
    .dropdown-item {
      background-color: var(--inputs-bg);
      color: var(--w);
    }
  }
}
.dropdown-trigger .listbox {
  background-color: var(--inputs-bg);
  min-width: 70px;
  border-radius: 5px;
  border-style: none;
  padding: 5px;

  span {
    color: var(--w);
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }
}
