.purple {
    --main-bg: var(--very-dark-purple);
    --secondary-bg: var(--dark-purple);

    --inputs-bg: var(--purple);
    --inputs-bg-hover: var(--lightish-purple);
    --text: var(--w);
    --secondary-text: var(--grey);
}