.purple {
    --main-bg: var(--very-dark-purple);
    --secondary-bg: var(--dark-purple);

    --inputs-bg: var(--purple);
    --inputs-bg-hover: var(--lightish-purple);

    --inputs-color-hover: var(--l-blue);
    --modal-bg: var(--blue);
    --black-hover: var(--black);
    
    --text: var(--w);
    --secondary-text: var(--grey);
}