@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
$Mainfont: 'IBM Plex Sans', sans-serif;

:root {
    //primary 
    --very-dark-purple: hsl(278.18,64.71%,6.67%);
    --dark-purple: hsl(278, 67%, 11%);
    --purple: hsl(278, 68%, 23%);
    --lightish-purple: hsl(278, 67%, 32%);
    --light-purple: hsl(278, 100%, 50%);
    
    --blue: rgb(8, 8, 76);
    --l-blue: rgb(0, 102, 255);
    --black: black;
    //text
    --w: white;
    --grey: hsla(0, 0%, 80%, 0.824);
}

