@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

$Mainfont: 'IBM Plex Sans', sans-serif;

:root {
    //primary 
    --very-dark-purple: #14061c;
    --dark-purple: hsl(278, 67%, 11%);
    --purple: hsl(278, 68%, 23%);
    --lightish-purple: #601b88;
    --light-purple: hsl(278, 100%, 50%);
    
    --blue: hsl(240, 81%, 16%);
    --l-blue: hsl(216, 100%, 50%);
    --darkish-blue: rgba(63, 99, 218, 0.58);
    --lightish-blue: rgb(82, 151, 254);
    --black: black;
    //text
    --w: white;
    --grey: hsla(0, 0%, 80%, 0.824);
    --fade-grey: hsla(0, 0%, 40%, 0.24);
    --fade-light-grey: hsla(0, 0%, 40%, 0.543);
}

