@use "../../../sass/variables.scss" as v;
.recent-activity {
  min-width: 400px; //temporarely
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: var(--secondary-bg);
  border-radius: 10px;
  margin-bottom: 10px;
  color: var(--w);
  font-family: v.$Mainfont;
  align-items: center;
}
