@use "../../../sass/utils/variables.scss" as v;
.recent-activity {
  width: 50vw; //temporarely
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: var(--secondary-bg);
  border-radius: 10px;
  margin-bottom: 10px;
  color: var(--logo-text);
  font-family: v.$Mainfont;
  align-items: center;
  box-shadow: 0 0 2px 0px var(--shadow-bg);
}
