@use "../../../sass/utils/variables.scss" as v;
.serv-info {
  width: 50vw; //temporarely
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: var(--secondary-bg);
  border-radius: 5px;
  margin-bottom: 10px;
  color: var(--logo-text);
  font-family: v.$Mainfont;

  box-shadow: 0 0 2px 0px var(--shadow-bg);
  .header {
    display: flex;
    justify-content: center;
  }
  .info-other {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--secondary-text);
    li {
      margin-bottom: 5px;
    }
    .other {
      display: flex;
      flex-direction: column;
      .serv-id {
        margin-bottom: 5px;
        position: relative;
        display: flex;
        align-items: center;
        .mark {
          color: var(--secondary-text);
          transition: color 0.2s;
          cursor: pointer;
          margin-bottom: -2px;
          margin-left: 5px;
          &:hover {
            color: var(--inputs-color-hover);
            transition: color 0.2s, scale 0.2s;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
