@use "../../sass/themes.scss" as t;
@use "../../sass/variables.scss" as v;

.nav {
  background-color: var(--main-bg);
  border-right: 1px solid var(--divider-bl);
  .top-header {
    padding-bottom: 50px;
    margin-left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
      content: "";
      top: 0;
      left: 0;
      width: 95%;
      box-shadow: 0 0 50px 10px var(--inputs-color-hover);
      position: absolute;
    }
    @media (max-width: 768px) {
      margin-left: 0px;
    }
    img {
      transform: translatey(0px);
      -webkit-animation: float 6s ease-in-out infinite;
      animation: float 6s ease-in-out infinite;
      // background-color: transparent;
    }
    @-webkit-keyframes float {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0px);
      }
    }
    @keyframes float {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0px);
      }
    }
    .logo-text {
      font-family: v.$Mainfont;
      color: var(--logo-text);
      font-size: 1.7rem;
      margin-left: -10px;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  %hover-active {
    color: var(--inputs-color-hover);
    transform: scale(1.01);
  }
  .ul {
    .list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &:hover .list-icons {
        @extend %hover-active;
      }
      &:hover .list-text {
        color: var(--text);
      }
      .link {
        display: flex;
      }
      .list-icons {
        font-size: 1.4rem;
        color: var(--icons);
        transition: all 0.3s ease-in-out;
        &-active {
          color: var(--inputs-color-hover);
          transform: scale(1.01);
        }
      }

      .list-text {
        padding-left: 10px;
        font-family: v.$Mainfont;
        color: var(--secondary-text);
        font-size: 1.2rem;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        @media (max-width: 768px) {
          display: none;
        }
        &-active {
          color: var(--text);
        }
      }
    }
  }
}
