.mantine-Input-input {
  background-color: transparent;
  color: white;
  outline: none;
}
.search {
  background-color: transparent;
  color: white;
  outline: none;
}
.test input {
  color: red !important;
  background-color: transparent;
  color: white;
  outline: none;
}
