.switch {
  .mantine-Switch-label {
    color: var(--text);
  }
  .mantine-Switch-track {
    background-color: var(--main-bg);
    border: 1px solid var(--divider-bl);
    transition: all 0.2s;
  }
  input:checked+.mantine-Switch-track {
    background-color: var(--divider-bl);
    border: transparent;
  }
}
