@use "../../sass/utils/themes.scss" as t;
@use '../../sass/utils/variables.scss' as v;
.th1 {
  color: var(--text);
  font-family: v.$Mainfont;
  font-weight: 400;
}
.throw {
  transition: background-color 0.3s;
  color: var(--secondary-text);
  &:hover {
    background-color: var(--inputs-bg);
  }
}
.tets {
  border: none;
}